/* ESERCIZIO 1) Crea un selettore per selezionare l'<h1> nella sezione "hero", ovvero nel jumbotron */

.jumbotron h1 {
    color: blue;
}

/* ESERCIZIO 2) Crea un selettore per selezionare tutti i figli dell'elemento navbar */

nav span {
    background-color: aquamarine;
}

/* ESERCIZIO 3) Crea un selettore per selezionare il link "Continua a leggere" del jumbotron */

.jumbotron div p a {
    font-size: larger;
}

/* ESERCIZIO 4) Crea un selettore per selezionare il primo blog post */

.container .blog-post:first-of-type {
    background-color: beige;
}

/* ESERCIZIO 5) Crea un selettore per selezionare l'<hr> del primo blog post e colorarlo di rosso */

.container .blog-post > hr {
    background-color: red;
}

/* ESERCIZIO 6) Crea un selettore per selezionare i link pari della navbar */

nav span:nth-child(even) {
    background-color: red;
}

/* ESERCIZIO 7) Crea un selettore per selezionare tutti gli <li> della prima "ordered-list" della sidebar ("Archivio") */

.blog-sidebar .p-4:nth-child(2) ol.list-unstyled:first-of-type li {
    background-color: blueviolet;
}

/* ESERCIZIO 8) Crea un selettore per selezionare l'autore del secondo blog post */

.container .blog-post:nth-child(3) p a {
    color: brown;
}

/* ESERCIZIO 9) Crea un selettore per selezionare il secondo <li> della lista del terzo blog post */

.container .blog-post:nth-child(4) ul li:nth-child(2) {
    color: red;
}

/* ESERCIZIO 10) Crea un selettore per selezionare il link "Torna su" che trovi a fondo pagina nell'angolo in basso a destra */

footer + a {
    background-color: blanchedalmond;
}

/* ESERCIZIO 11) Crea un selettore per selezionare il bottone "Nuovi" che trovi in basso */

.container .blog-pagination a:last-of-type {
    border-radius: 30px;
}

/* ESERCIZIO 12) Crea un selettore per selezionare il secondo link del footer */

footer p a:last-of-type {
    border: 1px solid black;
}